build/
out/
*.user
*.suo
.vs/
.vscode/
.idea/
CMakeUserPresets.json
/sdk-build/
/sdk-install/
/sdk/
/package/
/host-tools/
/third_party/steamaudio/source/
/gmod-steamaudio-*.zip
*.probes
*.paths
*.partial
*.log
